name: test
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test-race:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v5
        with:
          go-version: stable
          check-latest: true
      - run: go test -race ./...
