name: test
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test-race:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493 # v4
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v5
        with:
          go-version: stable
          check-latest: true
      - run: go test -race ./...
