name: test
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test-race:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v4
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v5
        with:
          go-version: stable
          check-latest: true
      - run: go test -race ./...
