name: test
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test-race:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5 # v4
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v5
        with:
          go-version: stable
          check-latest: true
      - run: go test -race ./...
