name: test
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test-race:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 # v4
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v5
        with:
          go-version: stable
          check-latest: true
      - run: go test -race ./...
